* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
}
.btn {
  padding: 20px 50px;
  color: #005fac;
  font-size: 20px;
  font-weight: bold;
}

.container {
  height: 100vh;
  background-image: url('images/banner/banner3.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  padding: 150px 100px 0px 200px;
}
.header1 {
  color: #fff;
  font-size: 45px;
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 30px;
}
.right-section {
  text-align: right;
  margin-top: 50px;
}
.header-description {
  color: #fff;
  font-size: 14px;
  margin-bottom: 30px;
}
